<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^/public/index\.php
    RewriteCond %{REQUEST_URI} !\.(gif|jpg|png|js|css)$
    RewriteRule (.*) public/index.php/$1 [L,QSA]
</IfModule>