/*
 * Component:       Docs
 * Description:     Defines styles for the UIkit documentation
 ========================================================================== */


/* Fonts
 ========================================================================== */

body, h1, h2, h3, h4, h5, h6,
.uk-navbar-nav > li > a { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }


/* Base
 ========================================================================== */

html {
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Layout
 ========================================================================== */

.tm-background { background: #252525; }

/*
 * Blocks
 */

.tm-middle,
.tm-section,
.tm-footer { padding: 50px 0; }

/* Tablet and bigger */
@media (min-width: 768px) {

    .tm-middle,
    .tm-section,
    .tm-footer { padding: 90px 0; }

}

/* Large screen and bigger */
@media (min-width: 1220px) {

    .tm-middle,
    .tm-section,
    .tm-footer { padding: 120px 0; }

}


/*
 * Middle
 */

.tm-middle { background: #fff; }

/* Tablet and bigger */
@media (min-width: 768px) {

    .tm-sidebar {
        margin-right: -1px !important;
        border-right: 1px solid #E5E5E5;
    }

    .tm-main {
        padding-left: 50px !important;
        border-left: 1px solid #E5E5E5;
    }

    .tm-sidebar .uk-panel { padding-right: 20px; }

}

/*
 * Sections
 */

.tm-section .uk-heading-large { margin-bottom: 20px; }
.tm-section .uk-text-large { margin-bottom: 60px; }

.tm-section-color-1 { background: #2ba3d4 url("../images/bg_teaser.svg") 50% 50% no-repeat; }

/* Desktop and bigger */
@media (max-width: 959px) {

    .tm-section-color-1 { background-image: none; }

}

.tm-section-color-2 { background: #3dc0f1; }

.tm-section-colored,
.tm-section-colored h1,
.tm-section-colored h2,
.tm-section-colored a:not([class]) { color: #fff !important; }

.tm-section-color-2 a { text-decoration: underline; }

.tm-section-color-white { background: #fff; }

/* Tablet and bigger */
@media (min-width: 768px) {

    .tm-section-color-white .uk-grid-divider:not(:empty) > [class*='uk-width-medium-']:not(.uk-width-medium-1-1):nth-child(n+2) { border-left: 1px dashed #ddd; }
    .tm-section-color-2 .uk-grid-divider:not(:empty) > [class*='uk-width-medium-']:not(.uk-width-medium-1-1):nth-child(n+2) { border-left: 1px dashed rgba(255,255,255,0.4); }

}

/*
 * Header section
 */

.tm-logo { margin: 10px 0 20px 0; }

.tm-button-download {
    margin: -30px 0 15px 0;
    /* Style */
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    background: #fff;
    border: none;
    color: #2ba3d4 !important;
    /* Size */
    min-height: 50px;
    padding: 0 30px;
    line-height: 50px;
    font-size: 18px;
}

.tm-button-download:hover {
    background: #82cff0;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    -webkit-transition: background-color .15s ease-in-out;
    transition: background-color .15s ease-in-out;
}

.tm-button-download:focus,
.tm-button-download:active {
    background: #2e93bc;
    color: #fff !important;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.15),
                inset 0 -1px 0px rgba(0,0,0,0.05),
                inset 1px 0px 0px rgba(0,0,0,0.05),
                inset -1px 0px 0px rgba(0,0,0,0.05);
    -webkit-transition: background-color .05s ease-in-out;
    transition: background-color .05s ease-in-out;
}

.tm-image-pull { margin-bottom: -10px; }

/*
 * Community
 */

.tm-margin-large-bottom { margin-bottom: 80px; }

.tm-panel-link,
.tm-panel-link:hover {
    text-decoration: none;
    color: #444;
}

.tm-panel-link {
    padding: 30px 30px 60px 30px;
    border: 1px solid #e5e5e5;
}

.tm-panel-link:after {
    content: "";
    display: none;
    position: absolute;
    height: 5px;
    right: -1px;
    left: -1px;
    bottom: -1px;
    background: #0BA1D8;
}

.tm-panel-link:hover:after { display: block; }

.tm-panel-link:hover h2 { color: #0BA1D8; }

/* Only phones */
.tm-grid-margin-large .uk-grid-margin { margin-top: 50px; }

.tm-icon {
    position: relative;
    width: 80px;
    margin: -60px auto 0 auto;
    border-radius: 5px;
    background: #0BA1D8;
    line-height: 80px;
    color: #fff;
}

.tm-icon:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: 10px solid #0BA1D8;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom: none;
}

.tm-panel-link { -webkit-backface-visibility: hidden; }

.tm-panel-link:hover .tm-icon {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
}

/*
 * Footer
 */

.tm-footer .uk-subnav-line > li:before { border-color: #ddd; }

.tm-footer,
.tm-footer a { color: #ddd !important; }
.tm-footer a:hover { color: #fff !important; }


/* UIkit component modifiers
 ========================================================================== */

/*
 * Navbar
 */

.tm-navbar {
    padding: 15px 0 15px 0;
    border: none;
    background: transparent;
		border-bottom: 1px solid #eee;
}

.tm-navbar .uk-navbar-content,
.tm-navbar .uk-navbar-brand,
.tm-navbar .uk-navbar-toggle {
    height: 40px;
    margin-top: 0;
    text-shadow: none;
}

.tm-navbar .uk-navbar-nav > li > a {
    height: 40px;
    margin: 0;
    border: none;
    border-radius: 3px !important;
    text-shadow: none;
    font-size: 15px;
}

.tm-navbar .uk-navbar-nav > li { margin-left: 20px; }

/* Hover */
.tm-navbar .uk-navbar-nav > li:hover > a,
.tm-navbar .uk-navbar-nav > li > a:focus,
.tm-navbar .uk-navbar-nav > li.uk-open > a {
    border: none;
    color: #FFF;
}

/* Active */
.tm-navbar .uk-navbar-nav > li.uk-active > a {
    background-color: #2BA3D4;
    color: #FFF;
}

/* OnClick */
.tm-navbar .uk-navbar-nav > li > a:active { background-color: transparent; }

/*
 * Nav
 */

.tm-nav > li > a { color: #777; }

/* Hover */
.tm-nav > li > a:hover,
.tm-nav > li > a:focus,
.tm-nav > li.uk-active > a  {
    background: #F5F5F5;
    color: #444;
}

/* Sub-object: `nav-header` */
.tm-nav .uk-nav-header {
    color: #222;
    font-weight: normal;
}

/*
 * Nav
 */

.tm-subnav > li:nth-child(n+2) { margin-left: 20px; }

/*
 * Article
 */

.tm-article-subtitle {
    padding-left: 6px;
    border-left: 3px solid #1FA2D6;
    font-size: 16px;
    line-height: 16px;
}

/*
 * Showcase Overlay
 */

.tm-overlay-area:empty:before {
    content: "\f064";
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    font-size: 60px;
}


/* Custom content
 ========================================================================== */

/*
 * Style grid for showcase purpose
 */

.tm-grid-truncate code {
    /* Truncate */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* Nedded */
    max-width: 80%;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}

.tm-icons > [class*="uk-width-"] {
    padding-bottom: 5px;
    padding-top: 5px;
}


/* Customizer
 ========================================================================== */

.cm-customizer,
.cm-customizer body {
    height: 100%;
    overflow: hidden;
}

/*
 * Sidebar
 */

.cm-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 310px;
    border-right: 1px solid rgba(0,0,0,0.1);
}

.cm-sidebar-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 110px;
    padding: 20px 30px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.cm-sidebar-content {
    position: absolute;
    top: 151px;
    bottom: 116px;
    left: 0;
    right: 0;
    padding: 20px 20px 0 30px;
    overflow-y: scroll;
}

.cm-sidebar-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    padding: 20px 30px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.cm-sidebar-footer .uk-grid + .uk-grid { margin-top: 15px; }

.cm-file-import {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.cm-file-import input[type=file] {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 500px;
    opacity: 0;
    cursor: pointer;
}

/*
 * Iframe wrapper
 */

.cm-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 310px;
    right: 0;
}

.cm-wrapper > iframe {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    margin-top: -70px;
}

/* Fixed links in navbar not clickable caused by iframe overlay */
.tm-navbar { position: relative; }

/*
 * Sidebar content
 */

.cm-vars {
    padding-bottom: 20px;
    font-size: 12px;
}

.cm-form-title .more-link:after {
    content: "(more)";
    font-size: 12px;
    text-transform: none;
}

.show-more .cm-form-title .more-link:after { content: "(hide)"; }

/*
 * Variables form
 */

.cm-form fieldset + fieldset { margin-top: 25px; }

.cm-form-title {
    font-size: 16px !important;
    line-height: 22px !important;
    text-transform: capitalize !important;
}

.cm-form .uk-form-row + .uk-form-row { margin-top: 5px; }

.cm-form .uk-form-label {
    float: left;
    line-height: 25px;
    /* Text truncate */
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
}

.cm-form .uk-form-controls { float: right; }

.cm-form select,
.cm-form.uk-form input {
    width: 60px;
    border: 0;
    box-shadow: none;
}

.cm-form.uk-form input { text-align: right; }

.cm-form select:focus,
.cm-form.uk-form input:focus { background: none; }

.cm-form :-ms-input-placeholder { color: #ddd !important; }
.cm-form ::-moz-placeholder { color: #ddd; }
.cm-form ::-webkit-input-placeholder { color: #ddd; }

/*
 * Advanced mode
 */

.cm-more-link,
.cm-advanced,
.cm-more { display: none; }

.cm-show-advanced .cm-advanced,
.cm-show-advanced .cm-show-more .cm-more { display: block; }
.cm-show-advanced .cm-more-link { display: inline; }

.cm-more-link:after {
    content: "(more)";
    font-size: 12px;
    text-transform: none;
    line-height: 1;
}

.cm-show-more .cm-more-link:after { content: "(hide)"; }

/*
 * Download modal
 */

.cm-modal textarea {
    height: 400px;
    resize: none;
    font-family: Consolas, monospace, serif;
}

/*
 * Loading spinner
 */

.cm-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
    z-index: 1000;
}

/*
 * Error
 */

.cm-error {
    position: absolute;
    left: 50%;
    top: 40%;
    width: 300px;
    margin-left: -176px;
    display: none;
    z-index: 1000;
}

/*
 * Responsive behavior
 */

/* Fix sidebar position if offcanvas appears */
.uk-offcanvas-page .cm-sidebar { left: auto; }


/* Colorpicker
 ========================================================================== */

.sp-placeholder {
    width: 15px;
    height: 15px;
    margin: 5px;
    border-radius: 2px;
    float: right;
    cursor: pointer;

    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}

.sp-placeholder-color {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
}

.sp-replacer {
    padding: 5px;
    background: transparent;
    float: right;
    border: 0;
}

.sp-preview {
    height: 15px;
    width: 15px;
    margin: 0;
    border: none;
    border-radius: 2px;
}

.sp-preview-inner {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    border-radius: 2px;
}

.sp-dd { display: none; }

.sp-container {
    border: 1px solid #d3d3d3;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input.sp-input {
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
    height: auto;
    padding: 5px 6px;
    border: 1px solid #e5e5e5;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset;
    color: #444;
    transition: all 0.2s linear 0s;
}

.sp-input:focus {
    border-color: #99BACA;
    background-color: #f5fBfE;
}

.sp-picker-container { border-left: none; }

.sp-dragger {
    height: 10px;
    width: 10px;
    border: none;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.sp-color,
.sp-hue { border-color: #ccc; }

.sp-slider {
    left: -4px;
    right: -4px;
    height: 8px;
    border-color: #ccc;
}

.sp-alpha-enabled .sp-top { margin-bottom: 28px; }

.sp-alpha {
    bottom: -23px;
    height: 12px;
}

.sp-alpha-handle { border-color: #d3d3d3; }

.sp-alpha-inner { border-color: #ddd; }

.sp-container button {
    min-height: 30px;
    padding: 0 12px;
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom-color: rgba(0,0,0,0.3);
    border-radius: 4px;
    background-color: #eee;
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: linear-gradient(to bottom, #fff, #eee);
    color: #666;
    line-height: 28px;
    text-shadow: 0 1px 0 #fff;
}

.sp-container button:hover {
    border: 1px solid rgba(0,0,0,0.2);
    border-bottom-color: rgba(0,0,0,0.3);
    background-color: #f5f5f5;
    background-image: none;
    text-shadow: 0 1px 0 #fff;
}

.sp-container button:active { box-shadow: inset 0 2px 4px rgba(0,0,0,0.1); }

.sp-cancel, .sp-reset { color: #0077DD !important; }
.sp-cancel:hover, .sp-reset:hover {
    color: #005599 !important;
    text-decoration: underline;
}

.sp-container,
.sp-container button,
.sp-container input,
.sp-color,
.sp-cancel, .sp-reset,
.sp-hue { font: inherit; }

.sp-input-container { margin-bottom: 10px; }

/* NoS Start */
body {
	min-width: 680px;
	height: 100%;
}

#main {
	position: relative;
}

#new_alert {
	
}

/*#main {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/

li.plain {
	padding: 10px 0 0 0;
	color: #999;
}

.uk-navbar-nav .uk-active a {
	background: #0078EF !important;
}
.uk-navbar-nav li a {
	color: #D1D1D1;
}

.uk-navbar-nav li a:hover {
	background: none;
}

article.uk-article {
	margin: 20px 0 0 0;
	padding: 15px;
}

/* NoS Pricing Table */
.pricing {
	position: relative;
	padding: 30px 0 30px 0;
}

.agree {
	position: relative;
	top: 30px;
}

.billing legend {
	padding-bottom: 30px;
}

.plan {
	border: 1px solid #efefef;
	border-radius: 3px;
	padding: 20px;
	background: rgba(255,255,255,.8);
}

.plan.feature {
	z-index: 1;
	border-color: #39f;
}

.plan h3 {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #efefef;
	padding-bottom: 10px;
}

.plan.feature h3 {
	color: #39f;
	border-color: #39f;
}

.plan ul li strike {
	color: #999;
}

.plan ul li .muted {
	color: #888;
	font-size: 88%;
}

.plan ul li:last-child {
	text-align: center;
	font-size: 140%;
	padding-top: 14%;
}

input.lone {
	display: block;
	margin-bottom: 5px;
}

.card-container {
	margin: 0;
	position: relative;
	top: 25px;
}

input {
	width: 100%;
}

.infotool {
	border-bottom: 1px dotted rgba(0,0,0,.7);
}

.infotool:hover {
	text-decoration: none !important;
}

.handle {
	position: relative;
	top: 5px;
	cursor: move;
	width: 13px;
	height: 15px;
	display: block;
	border-left: 1px solid #000;
}

.handle:before {
	position: absolute;
	height: 15px;
	width: 1px;
	background: #000;
	content: " ";
	left: 5px;
}

.handle:after {
	position: absolute;
	height: 15px;
	width: 1px;
	background: #000;
	content: " ";
	left: 11px;
}

.tooltipster-content span {
	line-height: 1.4em !important;
}

html {
	height: 100%;
	width: 100%;
}

#whole-bird, #main {
	transition: .25s -webkit-filter linear;
	opacity: 1;
}

#whole-bird {
	-webkit-filter: blur(0);
	opacity: 1;
	height: 100%;
}

body.overlay #whole-bird, body.overlay2 #whole-bird, body.overlay3 #whole-bird {
	-webkit-filter: blur(6px);
	opacity: .6;
}

.disabler {
	background: rgba(255, 255, 255, 0);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 99;
}

.nos-modal {
	position: fixed;
	background: rgba(255, 255, 255, .8);
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .35);
	-webkit-filter: blur(4px);
	opacity: 0;
	transition: .25s -webkit-filter linear;
	border-radius: 16px;
	bottom: 0;
	width: 480px;
	left: 50%;
	margin-left: -240px;
	height: 285px;
	top: 50%;
	margin-top: -145px;
	padding: 20px 30px 20px 30px;
}

.modal-out {
	-webkit-transform: scale(.9);
	-webkit-transform-origin: top left;
	position: relative;
	top: 10px;
}

.nos-modal h1 {
	font-size: 1.2em;
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding: 0 0 5px 0;
}

.nos-modal.final {
	-webkit-filter: blur(0px);
	opacity: 1;
}

code {
	color: green !important;
}

.uk-navbar-nav li a {
	color: #888;
}

.uk-navbar-nav li a:hover {
	color: #999 !important;
}

.uk-navbar-nav li.uk-active a:hover {
	color: #fff !important;
}

span.slash {
	color: #888;
	padding: 0 4px 0 4px;
	font-size: .8em;
}

span.package_man {
	color: #888;
	font-size: .8em;
}

a:hover span.slash, a:hover span.package_man {
	text-decoration: none !important;
}

td {
	position: relative;
}

.advice {
	margin: 17px 17px 17px 0;
	line-height: 7px;
	font-size: 12px;
}

.alert {
	width: 100%;
	padding: 30px 0 40px 0;
	border-bottom: #eee;
	height: 1px;
	text-align: center;
}

span.stopped, span.running, span.starting {
	position: absolute;
	left: 0;
	top: 5px;
}

span.stopped {
	width: 16px;
	height: 16px;
	border-radius: 16px;
	display: block;
	background: #F96B6B;
}

span.running {
	width: 16px;
	height: 16px;
	border-radius: 16px;
	display: block;
	background: #6BF9A6;
}

span.starting {
	width: 16px;
	height: 16px;
	border-radius: 16px;
	display: block;
	background: #faa732;
}

span.statuslabel {
	position: absolute;
	top: 3px;
	left: 24px;
	opacity: .8;
	font-size: 1em;
}

#managed_nodes tr:hover td {
	background: #eee;
	cursor: pointer;
}

td.shift .td_wrap {
	padding-top: 2px;
}

#node_details_modal_container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: none;
	background: rgba(255,255,255,.2);
}

#node_details_modal_container #node_details_modal {
	background: rgba(238,238,238,.75);
	bottom: -10px;
	margin-bottom: -1000px;
	position: absolute;
	height: 90%;
	width: 1000px;
	left: 50%;
	margin-left: -500px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.2);
  -webkit-transition: margin-bottom .15s;
  transition: margin-bottom .15s;
	overflow: auto;
}

#node_details_modal_container #node_details_modal #node_details_modal_inner {
	padding: 20px;
}

body.overlay2 #node_details_modal_container {
	display: block;
}

body.overlay2 #node_details_modal_container #node_details_modal {
	margin-bottom: 0px;
}

#node_details_modal_container #node_details_modal .slash {
	position: relative;
	top: 2px;
	font-size: 1em;
}

#node_details_modal_container #node_details_modal .package_man {
	position: relative;
	top: 2px;
	font-size: 1em;
}

#node_details_modal_container #node_details_modal .hostname_info {
	position: relative;
	top: 4px;
	font-size: 1.2em;
	font-weight: bold;
}

#node_details_modal_container #node_details_modal span.statuslabel {
	position: relative;
	top: 22px;
	left: 0px;
	opacity: .8;
	font-size: 11px;
}

#node_details_modal_container #node_details_modal #status_information_patch {
	position: relative;
	top: -20px;
}

#node_details_modal_container #node_details_modal #status_information_patch .statuslabel {
	position: absolute;
	font-size: 1em;
	top: 25px;
	right: 30px !important;
	left: auto !important;
	opacity: 1;
}

#node_details_modal_container #node_details_modal #status_information_patch .statusdot {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	left: auto;
	right: 0;
	top: 25px;
}

#node_details_modal_container .uk-article-title {
	font-size: 1.8em;
}

#node_details_modal_container .info_group {
	padding-top: 2px;
	position: relative;
}

#node_details_modal_container .info_group .title {
	color: rgba(0,0,0,.5);
	font-style: italic;
	font-weight: bold;
}

#node_details_modal_container .spinner {
	padding-top: 100px !important;
	width: 100% !important;
}

#node_details_modal_container .spinner.out {
	padding-top: 100px !important;
	width: 100% !important;
}

.vuln_info {
	display: block;
	margin: 0 auto;
	border-radius: 20px;
	width: 20px;
	height: 20px;
	position: relative;
}

.vuln_info i {
	position: relative;
}

.vuln_info.active i {
	z-index: 3;
	font-size: 1.5em;
	top: 6px;
	left: 1px;
}

.vuln_info.active {
	background: white;
}

.vuln_info .info_bubble {
	width: 400px;
	z-index: 1;
	position: relative;
	background: rgba(255, 255, 255, .9);
	padding: 2px 2px 2px 20px;
	border-radius: 10px;
	top: -23px;
	text-align: left;
}

.vuln_info .info_bubble .package-name {
	display: block;
	font-weight: bold;
}

.vuln_info .info_bubble .cve-id {
	display: block;
	font-weight: bold;
}

.vuln_info .info_bubble .last-revised {
	display: block;
}

#managed_nodes tr td .new-tag {
	opacity: 0;
}

#managed_nodes tr:hover td .new-tag {
	opacity: 1;
}

.nos-deletable {
	position: relative;
  -webkit-transition: all .15s;
  transition: all .15s;
	font-size: 12px;
	background: #2BA3D4;
	top: -1px;
	color: #fff;
	line-height: 1em;
	padding: 4px 5px 4px 5px;
	border-radius: 5px;
	display: inline-block;
}

.nos-deletable:hover {
	padding-left: 14px;
}

.nos-deletable .remove {
	opacity: 0;
	position: absolute;
  -webkit-transition: all .15s;
  transition: all .15s;
	left: 4px;
	top: 4px;
}

.nos-deletable a.remove {
	color: #fff;
}

.nos-deletable:hover .remove {
	opacity: 1;
}

.nos-deletable i {
	font-size: 1.1em;
}

.nos-deletable i:hover {
	color: rgba(0, 0, 0, .5) !important;
}

.nos-row {
	padding: 7px 0 7px 0;
	border-top: 1px solid #ddd;
	height: 26px;
}

.nos-title-row {
	padding-top: 20px;
	padding: 25px 0 5px 0;
	font-weight: bold;
}

div {
	position: relative;
}

.nos-activatable {
	cursor: pointer;
}

.nos-activatable:hover {
	background: rgba(0, 0, 0, .1);
}

.nos-integration-info {
	position: relative;
	top: 2px;
}

.shift5 {
	position: relative;
	top: 3px;
}

#groups_panel {
	position: absolute;
	left: -45px;
	height: 100%;
	width: 41px;
	z-index: 1;
	border-right: 1px solid #eee;
	list-style: none;
	margin: 0;
	padding: 75px 0 0 0;
	-webkit-transition: border-right .35s, left .35s;
}

#groups_panel.open {
	left: 0px;
}

#groups_panel:after {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	height: 1px;
	background: white;
	content: " ";
	z-index: 1;
}

#groups_panel input {
	opacity: 0;
	-webkit-transition: opacity .35s .12s;
}

.overlay #groups_panel {
	border-right: 1px solid transparent;
}

#groups_panel li {
	margin: 35px 0 20px 0;
	padding: 0;
	display: block;
	float: left;
	height: 35px;
	position: relative;
	z-index: 2;
}

#groups_panel li .divved {
	height: 35px;
	cursor: pointer;
	text-align: center;
	width: 80px;
	vertical-align: middle;
	display: inline-block;
	line-height: 1em;
	padding: 5px 5px 1px 5px;
	-webkit-transition: -webkit-transform .15s, height .25s, width .25s;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: 0% 0%;
	position: relative;
	overflow: hidden;
}

#groups_panel li.add-new {
	z-index: 20;
}

#groups_panel li.add-new .divved span {
	color: #8cc14c;
	font-weight: bold;
}

#groups_panel li.add-new .divved input {
	width: 240px;
	display: block;
	position: absolute;
	font-size: 1.4em;
	left: 15px;
	top: 45px;
	padding: 5px 5px 5px 5px;
}

#groups_panel li.add-new .divved {
	width: 100px;
}

#groups_panel li.add-new .divved i.fa-plus {
	position: relative;
	top: 3px;
	font-size: 1em;
	color: #8cc14c;
	font-weight: normal;
	opacity: 1;
	-webkit-transition: opacity .15s;
}

#groups_panel li.add-new .divved i.fa-check-circle, #groups_panel li.add-new .divved i.fa-spinner {
	opacity: 0;
	top: 54px;
	right: 30px;
	position: absolute;
	color: #8cc14c;
	font-size: 1.8em;
	-webkit-transition: opacity .35s .12s;
}

#groups_panel li .divved:hover {
	text-decoration: none;
	background: #eee;
}

#groups_panel li.add-new .divved:hover {
	background: #8cc14c;
	color: #fff;
}

#groups_panel li.add-new .divved.pop-out {
	-webkit-transform: rotate(0deg);
	z-index: 3;
	background: #8cc14c !important;
	color: #fff !important;
	position: absolute;
	cursor: default;
}

#groups_panel li.add-new .divved.popped-out {
	width: 282px;
	background: #8cc14c !important;
	color: #fff !important;
	height: 100px;
	position: absolute;
}

#groups_panel li.add-new .divved.popped-out i.fa-check-circle, #groups_panel li.add-new .divved.popped-out i.fa-spinner {
	opacity: 1;
	cursor: pointer;
}

#groups_panel li.add-new .divved.popped-out input {
	opacity: 1;
}

#groups_panel li.add-new .divved.pop-out span {
	font-size: 1.6em;
	white-space: nowrap;
	display: block;
	text-align: left;
	position: absolute;
	top: 17px;
	left: 15px;
	color: #fff !important;
}

#groups_panel li.add-new .divved.pop-out i.fa-plus {
	opacity: 0;
}

#groups_panel li.add-new .divved:hover span, #groups_panel li.add-new .divved:hover i.fa-plus {
	color: #fff;
}

#dragging_tag {
	position: absolute;
	top: 90px;
	left: 0;
	z-index: 300;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: top left;
	background: #eee;
	width: 80px;
	height: 31px;
	padding: 5px;
	text-align: center;
	opacity: .99;
}

header {
	background: white;
	position: relative;
	z-index: 3;
	overflow: hidden;
}

body {
	min-width: 1038px;
}

body.dragging {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.uk-disabled {
	cursor: default !important;
}

a.problem {
	display: inline-block;
	position: relative;
	top: 3px;
	font-size: .8em;
	overflow: hidden;
}

a.problem:after {
	position: absolute;
	left: 0;
	content: " ";
	height: 20px;
	width: 12px;
	background: white;
}

a.problem span {
	position: relative;
	left: -150px;
	-webkit-transition: left .5s;
}

a.problem i {
	position: relative;
	top: 1px;
	color: rgb(53,53,53);
	z-index: 1;
}

a.problem.highlight span {
	left: 0;
}

.problem_area {
	position: absolute;
	top: -95px;
	height: 88px;
	width: 150px;
	opacity: .97;
	-webkit-transition: all .25s;
	z-index: 30;
}

.problem_area.long {
	height: 170px;
	top: -177px;
}

.problem_area.hidden {
	opacity: 0;
	top: 30px;
	z-index: 1;
}

.problem_details {
	position: relative;
	background: #eee;
	height: 100%;
	width: 100%;
	z-index: 5;
	border-radius: 12px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}

.nub {
	background: #eee;
	width: 10px;
	height: 10px;
	position: absolute;
	left: 67px;
	bottom: -5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
	-webkit-transform: rotate(45deg);
	z-index: 6;
}

.nubcover {
	position: absolute;
	height: 10px;
	width: 18px;
	background: #eee;
	z-index: 10;
	bottom: 0px;
	left: 63px;
}

.problem_details .inner {
	position: relative;
	padding: 8px 8px 5px 8px;
	font-size: .9em;
	line-height: 1.2em;
	text-align: center;
	font-weight: bold;
}

.problem_area ul {
	list-style: none;
	margin: 0 auto;
	overflow: auto;
	padding: 0;
	position: relative;
	z-index: 20;
	bottom: 27px;
	text-align: center;
}

.problem_area ul li {
	display: inline-block;
	margin-right: 11px;
	position: relative;
	z-index: 20;
}

.problem_area ul li:last-child {
	margin: 0;
}

.problem_area ul li:after {
	content: " ";
	background: rgba(0, 0, 0, .3);
	width: 1px;
	height: 14px;
	position: absolute;
	z-index: 10;
	right: -8px;
	bottom: 3px;
}

.problem_area ul li:last-child:after {
	display: none;
}

.problem_area ul li a {
	display: block;
	font-size: .8em;
}

.problem_cta_btn {
	display: inline-block;
	background: #6BF9A6;
	font-size: .9em;
	padding: 5px 5px 7px 5px;
	border-radius: 6px;
	margin: 10px 3px 0 3px;
	color: #444;
}

#topography {
	height: 470px;
}